### Removes stop words from abstracts

In [25]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import pandas as pd

In [26]:
# import raw data csv from top journals, other high ranking journals, & not high rank journals
topJourns_df = pd.read_csv("raw_data_econ/topJournals_abstract.csv", encoding = "'iso-8859-1'")
hiJourns_df = pd.read_csv("raw_data_econ/hiRankJournals_abstract.csv", encoding = "'iso-8859-1'")
notHiJourns_df = pd.read_csv("raw_data_econ/notHiJournals_abstract.csv", encoding = "'iso-8859-1'")
notHiJourns2_df = pd.read_csv("raw_data_econ/notHiJournals_2_abstract.csv", encoding = "'iso-8859-1'")
notHiJourns2_df.tail()

,Unnamed: 0,abstract,top_journal
2795,3162,We use the August 2007 crisis episode to gauge...,0
2796,3163,We examine three pairs of cross-section regres...,0
2797,3164,A set of recent papers attempts to explain the...,0
2798,3165,The long-run risks model of asset prices expla...,0
2799,3166,We provide an empirical evaluation of the Long...,0

In [27]:
topJourns_df.columns

Index(['Unnamed: 0', 'abstract', 'top_journal'], dtype='object')

In [28]:
'''# ah-hoc cleaning for top journs
# get rid entries where abstracts are not available
for index, row in topJourns_df.iterrows():
    if row["abstract"] == 'No abstract is available for this item.':
        topJourns_df.drop(index, inplace=True)
    if row["abstract"][0:19] == ' type="main" xml:id':
        topJourns_df.loc[index, "abstract"] = row["abstract"][42:]
    if row["abstract"][0:27] == ' type="main" xml:lang="en">':
        topJourns_df.loc[index, "abstract"] = row["abstract"][28:]
    if row["abstract"][0:12] == ' type="main"':
        topJourns_df.loc[index, "abstract"] = row["abstract"][14:]
topJourns_df['abstract'].iloc[1500]'''

'# ah-hoc cleaning for top journs\n# get rid entries where abstracts are not available\nfor index, row in topJourns_df.iterrows():\n    if row["abstract"] == \'No abstract is available for this item.\':\n        topJourns_df.drop(index, inplace=True)\n    if row["abstract"][0:19] == \' type="main" xml:id\':\n        topJourns_df.loc[index, "abstract"] = row["abstract"][42:]\n    if row["abstract"][0:27] == \' type="main" xml:lang="en">\':\n        topJourns_df.loc[index, "abstract"] = row["abstract"][28:]\n    if row["abstract"][0:12] == \' type="main"\':\n        topJourns_df.loc[index, "abstract"] = row["abstract"][14:]\ntopJourns_df[\'abstract\'].iloc[1500]'

In [29]:
'''# save to csv file 
topJourns_df.to_csv(r'raw_data_econ/topJournals_abstract.csv', index=False)'''

"# save to csv file \ntopJourns_df.to_csv(r'raw_data_econ/topJournals_abstract.csv', index=False)"

In [30]:
# Cleaning stop words 
stop_words = set(stopwords.words('english'))
def clean_stop_words(df):
    for index, row in df.iterrows():
        word_tokens = word_tokenize(row["abstract"])
        filtered_sentence = []
        for w in word_tokens:
            if w not in stop_words:
                filtered_sentence.append(w)
        string = ' '.join(filtered_sentence)
        df.set_value(index, "abstract", string)
    return df

# Clean the top journals
top_cleaned = clean_stop_words(topJourns_df)
top_cleaned.tail()

,Unnamed: 0,abstract,top_journal
2169,2193,We study managerâ ? ? employee interactions ex...,1
2170,2194,"In article explore proposition , economies imp...",1
2171,2195,Business cycles less volatile synchronized wor...,1
2172,2196,"From end second century CE , Judaism enforced ...",1
2173,2197,Conventional economic analyses successful expl...,1

In [31]:
# cleaning other high ranking and not high rank journals
hi_cleaned = clean_stop_words(hiJourns_df)

notHi_cleaned = clean_stop_words(notHiJourns_df)
notHi2_cleaned = clean_stop_words(notHiJourns2_df)

notHi2_cleaned.tail()

,Unnamed: 0,abstract,top_journal
2795,3162,We use August 2007 crisis episode gauge causal...,0
2796,3163,We examine three pairs cross-section regressio...,0
2797,3164,A set recent papers attempts explain size book...,0
2798,3165,The long-run risks model asset prices explains...,0
2799,3166,We provide empirical evaluation Long-Run Risks...,0

In [32]:
# save all cleaned to csv
top_cleaned.to_csv('raw_data_econ/topRanks_cleaned.csv', index=False)
hi_cleaned.to_csv('raw_data_econ/hiRanks_cleaned.csv', index=False)
notHi_cleaned.to_csv('raw_data_econ/notHiRanks_cleaned.csv', index=False)
notHi2_cleaned.to_csv('raw_data_econ/notHiRanks2_cleaned.csv', index=False)